@mixin clearfix {

    // prevents overflow outside of containers due to lack of height.
    &::after {
        content: ""; // shows the pseudoelement.
        display: table; // clearfix hack.
        clear: both; // clears floats.
    }
}

@mixin text-gradient-to-right($color-left, $color-right) {
    display: inline-block; // block is only as big as the elements inside it.
    background-image: linear-gradient(to right, $color-left, $color-right);
    -webkit-background-clip: text; // only shows the background-image where the text is.
    color: transparent; // shows the background-image through the text.
}

// 
@mixin center-horizontal-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}