@mixin clearfix { // prevents overflow outside of containers due to lack of height.
    &::after {
        content: ""; // shows the pseudoelement.
        display: table; // clearfix hack.
        clear: both; // clears floats.
    }
}