.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: $border-radius-default;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $font-size-default;
    transform: skewX(-10deg);

    @include respond(tab-port) {
        width: 100%;
        transform: skewX(-7deg);
        padding: 4rem;
        padding-left: 6rem;
    }

    @include respond(phone) {
        transform: skewX(-4deg);
    }

    // anti skew magic doesn't work when we already have a transform, so we need to add it to all children separately.

    &__shape {
        // shape-outside needs dimensions and float to work.
        width: 15rem;
        height: 15rem;
        float: left;
        transform: translateX(-3rem) skewX(10deg); // transform works better than margin to avoid messing with flow of HTML.
        position: relative;
        overflow: hidden;
        border-radius: 50%; // clip path is troublesome with broswers so we use border radius and overflow hidden instead in this case.
        shape-outside: circle(50% at 50% 50%); // shape outside sets the shape that the other elements float around. syntax is radius at horizontal pos radius at vertical pos. translates to 7.5rem at center.

        @include respond(tab-port) {
            transform: translateX(-3rem) skewX(8deg);
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(4deg);
        }
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s ease;
        backface-visibility: hidden;
    }

    &__text {
        transform: skewX(10deg);

        @include respond(tab-port) {
            transform: skewX(8deg);
        }

        @include respond(phone) {
            transform: skewX(4deg);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        color: $color-white;
        text-transform: uppercase;
        font-size: $font-size-big;
        text-align: center;
        opacity: 0;
        transition: all .5s ease;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%); // higher blur px value for more blur.
    }
}